.container {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    border: 1px solid lightseagreen;
    border-radius: 5px;
}

.input {
    display: inline-block;
    width: 100px;
    height: 40px;
    padding: 0 16px;
    line-height: 40px;
    outline: none;
    border: none;
    order: 2;
    text-align: center;
}

.btn {
    width: 50px;
    height: 40px;
    background: lightgrey;
    cursor: pointer;
    user-select: none;
}

.btnLeft {
    order: 0;
    border-radius: 5px 0 0 5px;
}

.btnRight {
    order: 3;
    border-radius: 0 5px 5px 0;
}